.img1 {
    width: 50%;
    height: auto;
    border: 10px solid black;
}

.img2 {
    width: 50%;
    height: auto;
    border: 10px solid black;
    
}

.picDiv {
    width: 50%;
}

.picDescription {
    width: 60%;
}

.wrapper {
    display: flex;
}

.myBio {
    width: 50%;
}