.img1 {
    width: 100%;
    height: auto;
    border: 10px solid black;
}

.img2 {
    width: 100%;
    height: auto;
    border: 10px solid black;
}

.picDiv {
    width: 50%;
}

.wrapper {
    display: flex;
}

.myBio {
    max-width: 720px;
    margin: auto;
}

.content {
    max-width: 720px;
    margin: auto;
}